.productos{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0,.85);
    display: none;
    justify-content: center;
    align-items: center;
}

.productos.is-open{
    display: flex;
}

.modal-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}
.modal-close{
    position: absolute;
    right: 60px;
}
.modal-container h2{
    width: 60%;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

#btn-cerrar{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(../icons/X.png);
    background-position: center;
    background-size: contain;
    margin: 5px;
    padding: 5px;
}