* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  background-color: rgb(240, 229, 210);
}
h1{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 0;
    width: 100%;
}
#contenedor-login {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  font-family:sans-serif;
  font-size: 1.2rem;
  margin: 120px auto;
  padding: 20px;
  text-align: center;
  width: 90%;
}
#contenedor-ajustes {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  font-family:sans-serif;
  font-size: 1.2rem;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  width: 90%;
}
.txt{
    border-radius: 10px;
    font-size: 1.7rem;
    height: 60px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    width: 90%;
}
.btn{
    background-color: rgb(186, 12, 47);
    color: white;
    font-size: 1.8rem;
    
}
.btn:hover{
    font-size: 2rem;
    height: auto;
    width: auto;
}

#contenedor-titulo{
    background-color: rgb(186, 12, 47);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
 #contenedor-table{
   width: 100%;
 }
 #contenedor-table table{
   width: 100%;
   font-size: 1.1rem;
   padding: 10px;
 }
 #contenedor-table table thead tr:first-child{
   margin-bottom: 10px;
   background-color: blue;
 }
 #contenedor-table table tbody {
   padding: 10px;
   background-color: rgb(229, 229, 229);
 }

 nav{
   margin: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 nav p{
   font-size: 1.5rem;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 0;
 }
 nav #btn-atras{
   width: 35px;
   height: 35px;
   background-image: url(./icons/flechaAtras.png);
   background-position: center;
   background-size: 28px;
   background-repeat: no-repeat;
 }
 nav #btn-siguiente{
   width: 35px;
   height: 35px;
   background-image: url(./icons/flechaSiguiente.png);
   background-position: center;
   background-size: 28px;
   background-repeat: no-repeat;
 }